<button class="btn btn-primary" type="reset">Reset</button>
<button class="btn btn-primary">Vorherige</button>
<a class="btn btn-primary" href="{{ url('home') }}" role="button">Zur체ck zum Hauptmen체</a>
<button class="btn btn-primary">N채chste</button>
<button class="btn btn-primary" type="submit">Best채tigen</button>
