<button class="btn btn-primary" type="reset">Reset</button>
<a class="btn btn-primary" type="submit" href="{{ url('exam_prevQuestion') }}" role="button">Vorherige</a>
<a class="btn btn-primary" href="{{ url('home') }}" role="button">Zurück zum Hauptmenü</a>
<a class="btn btn-primary" type="submit" href="{{ url('exam_nextQuestion') }}" role="button">Nächste</a>
