<button class="btn btn-primary" type="reset">Reset</button>
<a class="btn btn-primary" type="submit" href="{{ path('exam_index', { taskPosition: position - 1 }) }}"
   role="button">Vorherige</a>
<a class="btn btn-primary" href="{{ path('home') }}" role="button">Zurück zum Hauptmenü</a>
<a class="btn btn-primary" type="submit" href="{{ path('exam_index', { taskPosition: position + 1 }) }}"
   role="button">Nächste</a>
