<button class="btn btn-primary" type="reset">Reset</button>
<a class="btn btn-primary" href="{{ url('exam_prevQuestion') }}" role="button">Vorherige</a>
<a class="btn btn-primary" href="{{ url('home') }}" role="button">Zur체ck zum Hauptmen체</a>
<a class="btn btn-primary" href="{{ url('exam_nextQuestion') }}" role="button">N채chste</a>
<button class="btn btn-primary" type="submit">Best채tigen</button>
