{% if isCorrect %}
    <h1>Deine Antwort war korrekt!</h1>
{% else %}
    <h1>Deine Antwort war falsch, dies sind die richtigen Antworten</h1>
    <div>
        <p>korrekt wäre:</p>
        {% for answer in correctAnswers %}
            <ul>{{ answer.text }}</ul>
        {% endfor %}
    </div>
    <div>
        <p>Deine antwort: </p>
{#      todo: show user answer  #}
        {% for answer in correctAnswers %}
            <ul>{{ answer.text }}</ul>
        {% endfor %}
    </div>
{% endif %}
