{% if isCorrect %}
    <h1>Deine Antwort war korrekt!</h1>
    {% for answer in correctAnswers %}
        <ul>{{ answer }}</ul>
    {% endfor %}
{% else %}
    <h1>Deine Antwort war falsch, dies sind die richtigen Antworten</h1>
    {% for answer in correctAnswers %}
        <ul>{{ answer }}</ul>
    {% endfor %}
{% endif %}
