<div>
    <h1>Unsere Musterlösung</h1>
    {{ params.answer }}
</div>
<div>
    <h2>Deine Lösung</h2>
    {{ params.userAnswer }}
</div>

<form method="post" action="{{ path('task_free_text_result_self_rating', {questionId: 1}) }}">
    <label>Richtig beantwortet
        <input type="radio" name="correctAnswered" value="1">
    </label>
    <label>Falsch beantwortet
        <input type="radio" name="correctAnswered" value="0">
    </label>
    <button type="submit">Bestätigen</button>
</form>