<div class="d-flex justify-content-center align-items-center flex-column">
    <div class="text-center h1 d-flex justify-content-center align-items-center">
        <div class="w-75">
            {{ question.phrase }}
        </div>
    </div>
    <div>
        <textarea
                name="answer"
                class="form-control shadow p-3 mb-5 bg-white rounded"
                id="free-text-area"
                cols="110"
                rows="15"
        ></textarea>
    </div>
</div>
