<div>
    <form method="post" action="{{ path('task_' ~ question.displayType.title ~ '_result', {'questionId': question.id }) }}">
        {% include '_partials/' ~  question.displayType.title ~ '.html.twig' %}
        {% include 'exam/buttonMenu.html.twig' %}
    </form>
</div>
