<h1>{{ question.phrase }}</h1>
{% for option in question.options %}
    <label>{{ option.text }}
        <input type="radio" name="answer" value="{{ option.text }}" required>
    </label>
{% endfor %}