<div>
    <div>{{ question.phrase }}</div>

    <label>{% trans %}answer.your{% endtrans %}
        <input name="answer" type="text" placeholder="{% trans %}answer.your{% endtrans %}...">
    </label>
</div>