<form method="post" action="{{ path('string_comparison_result', {'id': params.questionID}) }}">
    {% include '_partials/' ~  template ~ '.html.twig' with params %}
    {% include "_partials/buttonMenu.html.twig" %}
</form>