<form method="post" action="{{ path( params.path, {'id': params.questionID}) }}">
    {% include '_partials/' ~  template ~ '.html.twig' with params %}
    {% include "_partials/buttonMenu.html.twig" %}
</form>