<div>
    <div class="h1 text-center">
        Lernfelder
    </div>
    <div>
        <p style="font-size: 1.2em">
            Hier kannst zu einem der folgenden Lernfeldern eine zufällige Aufgabe bearbeiten und bekommst direkt
            Feedback zu
            deiner Lösung.
        </p>
    </div>
</div>