<form method="post" action="{{ path('task_' ~ question.displayType.title ~ '_result', {'id': 1}) }}">
    {% include '_partials/' ~  question.displayType.title ~ '.html.twig' %}
    {% include "_partials/buttonMenu.html.twig" %}
</form>