{% extends "base.html.twig" %}
{% block body %}
    <div class="d-flex justify-content-center align-items-center">
        <h1>
            <a href="mailto:email@example.com?subject=feedback zum Prüfungslerner">Sende uns Feedback via Email</a>
        </h1>
    </div>
{% endblock %}