{% extends "base.html.twig" %}
{% block body %}
    <div class="d-flex justify-content-center align-items-center flex-column mt-5">
        <div class="h1 mt-3">
            Hier kannst du uns Direkt per Email Feedback geben.
        </div>
        <div class="h2 mt-3">
            Feedback kann zum Beispiel Ideen für weitere Aufgaben oder unserer Webseite sein.
        </div>
        <h1 class="mt-3">
            <a href="mailto:email@example.com?subject=feedback zum Prüfungslerner">Sende uns Feedback via Email</a>
        </h1>
    </div>
{% endblock %}