<div class="d-flex justify-content-center align-items-center flex-column">
    <div class="h1">
        Nachschlagewerk
    </div>
    <div class="text-center" style="font-size: 1.2em">
        Hier kannst du dich über einige der Lernfelder informieren
    </div>
</div>
