<head>

</head>
<body>
<div style="margin-right: 25%;margin-left: 25%;">
    <p style="text-align: justify">
    <h2>Organigramm</h2>
    <p></p>
    Ein Organigramm ist das Diagramm einer Organisation. Es zeigt den Aufbau von Unternehmen oder Unternehmensteilen und damit
    die Organisationseinheiten mit ihren Aufgaben bzw. Funktionen, ihren Vorgesetzten und oftmals den formalen Kommunikationswegen .
    <p></p>
    <img src="{{ asset("pictures/Organigramm-Stabstelle.jpg") }}" alt="test" height="100%" width="100%">
    </p>
</div>
</body>