<head>

</head>
<body>
<div style="margin-right: 25%;margin-left: 25%;">
    <p style="text-align: justify">
    <h2>Kundengruppen</h2>
    Neben der Einordnung als intern/externer Kunde ist es möglich, den Kunden weiter zu spezifizieren. Um eine
    genauere Einordnung eines Kunden in die vorhandene Kundenstruktur vornehmen zu können, sind folgende
    Informationsquellen geeignet:
    <ul>
        <li>Kundenstatistik</li>
        <li>Beobachtung im Verkaufsgeschehen</li>
        <li>Befragung von Verkaufsmitarbeitern</li>
        <li>Kundenliste in der Unternehmenssoftware</li>
        <li>Ordner der erstellten Angebote oder Aufträge</li>
    </ul>
    Folgende Kundengruppen/-arten-Unterteilung ist üblich:
    <p></p>
    <h4>Stamm- oder Bestandkunden</h4>
    Dies sind Kunden, die im Kundenstamm der Auftragsbearbeitung geführt werden. Hierbei kann
    es sich um aktive Kunden handeln, die laufend oder gelegentlich bestellen, oder um inaktive
    Kunden, sog. "Schläferkunde", die länger (z.B. seit zwei Jahren) nicht mehr bestellt haben. Von
    Bestandskunden liegen i.d.R. aussagekräftige Daten vor, sodass man diese Kunden danach
    beispielweise gut als ABC-Kunden (s.u.) bewerten kann. Auch lassen sich aufgrund der Daten
    gezielt und damit effiziente Marketingmaßnahmen planen .
    <p></p>
    <h4>ABC-Kunden</h4>
    <b>A-Kunde oder Top Kunde:</b> ca. 20% der Kunden machen etwa 75 bis 80% des Umsatzes, sind
    daher besnders wichtig und besonders zu betreuen.
    <p></p>
    <b>B-Kunde oder Potenzialkunde oder Wachstumskunde:</b> Sie tätigen einen durchschnittlichen
    Umsatz mit durschnittlichen Gewinnpotenzia, bringen eventuell zukünftig höheren Umsatz.
    Sie sind mittelwichtig, es sind ca. 30 bis 35% der Kundenmit einem Umsatzanteil von ca. 15 bis
    20%.
    <p></p>
    <b>C-Kunden sind Kleinkunden:</b> Sie machen ca. 45% des Kundenstamms aus, jedoch nur 5% des
    Umsatzes, häufig mit geringem Gewinnpotenzial. Sie wechseln häufig auch gern den Anbieter.
    Für diesen Kundenkreis müssen Lösungen gefunden werden, die mit wenig Aufwand zu erreichen
    sind (z.B. Verkauf über einen anderen Vertriebsweg).
    <p></p>
    <h4>Neukunden</h4>
    Neukunden sind alle ie Kunden, die in einem bestimmten Zeitraum (z.B im letzten halben Jahr)
    neu in den Kundenstamm aufgenommen wurden. Bei Neukunden ist es wichtig, dass man sich
    schnell ine sichere Meinung verschafft, ob es sich hierbei um B-Kunden, also Kunden mit
    Potenzial, handelt und wie schnell diese zu Topkunden werden können. Solche Neukunden sind
    für das Unternehmen sehr wichtig, sodass gleich von Anfang an für diese Kunden alle
    notwendigen Unterstützungsmaßnahmen aktiv ergriffen werden sollten.
    </p>
</div>
</body>