<head>

</head>
<body>
<div style="margin-right: 25%;margin-left: 25%;">
    <p style="text-align: justify">
    <h2>Access Point (AP)</h2>
    <p></p>
    Ein Access Point ist ein Gerät, mit welchem ein Local Area Network (WLAN) aufgebaut wird, normalerweise in einem Büro
    oder einem größeren Gebäude. Ein Access Point lässt sich über ein Ethernetkabel mit einem kabelgebundenen Router, Switch
    oder Hub verbinden und überträgt ein WLAN-Signal auf einen bestimmten Bereich .
    <p></p>
    <img src="{{ asset("pictures/was-ist-ein-access-point-erklärt.jpg") }}" alt="test" height="100%" width="100%">
    </p>
</div>
</body>