<head>

</head>
<body>
<div style="margin-right: 25%;margin-left: 25%;">
    <p style="text-align: justify">
    <h2>DSGVO</h2>
        Europäische Datenschutz-Grundverordnung:
        "Verordnung (EU) 2016/679 des Europäischen Parlaments und des Rates vom 27. April 2016
        zum Schutz natürlicher Personen bei der Verarbeitung personenbezogener Daten,
        zum freien Datenverkehr und zur Aufhebung der Richtlinie 95/46/EG".
    <p></p>
    <h3>Grundsätzlich</h3>
    <b>Art.1:</b> Diese Verordnung enthält Vorschriften zum Schutz natürlicher Personen bei der
        Verarbeitung personenbezogener Daten und zum freien Verkehr solcher Daten.
    <p></p>
        Diese Verordnung schützt die Grundrechte und Grundfreiheiten natürlicher Personen und
        insbesondere deren Recht auf Schutz personenbezogener Daten.
    <p></p>
    <b>Art 2.:</b> Diese Verordnung gilt für die ganz oder teilweise automatisierte Verarbeitung
        personenbezogener Daten sowie für die nichtautomatisierte Verarbeitung personenbezogener Daten,
        die in einem Dateisystem gespeichert sind oder gespeichert werden sollen.
    <p></p>
    <h3>Für wen gilt die DSGVO? (siehe Art. 2)</h3>
    <ul>
        <li>Es muss sich um eine ganz oder teilweise automatisierte Verarbeitung von personenbezogenen Daten handeln.</li>
        <li>Zusammengefasst gilt die DSGVO also immer, wenn Personen/ Unternehmen/Organisationen in der
            EU mit Informationen über eine natürliche Person umgehen und nicht zu den Ausnahmen gehören.</li>
    </ul>
    <p></p>
    <h3>Für wen gilt die DSGVO nicht? (siehe Art.2)</h3>
    <ul>
        <li>Haushaltsprivileg: Handelt eine Privatperson im rein persönlichen oder familiären Interesse,
        so muss findet die DSGVO keine Anwendung. (Kein Bezug zu beruflichen oder wirtschaftlichen Tätigkeiten und/oder
            nicht im öffentlichen Bereich)</li>
        <li>Zum Zwecke der Verhütung, Ermittlung, Aufdeckung oder Verfolgung von Straftaten oder
        der Strafvollstreckung, einschließlich des Schutzes vor und der Abwehr von Gefahren für
            die öffentliche Sicherheit.</li>
    </ul>
    </p>
</div>
</body>