<head>

</head>
<body>
<div style="margin-right: 25%;margin-left: 25%;">
    <p style="text-align: justify">
    <h2>Zählerschleife</h2>
    <p></p>
    <h3>Schleifen</h3>
        Bei allen Programmiersprachen ist man in der Lage, eine Folge
        von Anweisung mehrmals hintereinander auszuführen. Der sich wieder-
        holende Quelltext wird dazu in einer sogenannten Schleife gekapselt.
    <p></p>
        Ist die Schleife beendet, macht die Programmausführung mit den
        Anweisungen weiter, die der Schleife folgen. Eine der gebräuchlichsten
        Schleifenkonstruktion ist die Zählerschleife.
    <p></p>
    <h3>Zählerschleife</h3>
        Bei der Zählerschleife wird eine genau definierbare Anzahl von
        Schleifendurchläufen ausgeführt. Erst wenn die Schleifenbedingung nicht
        mehr erfüllt ist, endet die Schleife.
    <img src="{{ asset("pictures/forSchleife.PNG") }}" alt="test">
    <p></p>
    <h3> Schleifenabbruch</h3>
        Der Befehl continue; innerhalb eines Schleifenkörpers führt dazu, dass die
        Programmausführung an das Ende des Schleifenkörpers springt und so
        den aktuellen Schleifendurchlauf beendet. Damit ist aber noch nicht die
        gesamte Schleife beendet sondern nur der aktuelle Durchgang.
    <p></p>
        Die gesamte Schleife kann hingegen mit dem Befehl break; abgebrochen
        werden.
    <p></p>
    <h3>Achtung !!!!</h3>
        Bei Schleifen dürften die geschweiften Klammern weggelassen werden,
        wenn der Schleifenkörper nur aus einer einzigen Anweisung besteht. Zur
        Vermeidung von Fehlern setzen wir die Klammern jedoch immer.
    </p>
</div>
</body>