<head>

</head>
<body>
<div style="margin-right: 25%;margin-left: 25%;">
    <p style="text-align: justify">
    <h2>Was sind Überstunden, was ist Mehrarbeit?</h2>
        Für beide Begriffe gibt es keine verbindliche Definition.
    <p></p>
    <h3>Mehrarbeit:</h3>
        Mehrarbeit im Sinne des Arbeitszeitgesetzes ist die Arbeitszeit, die über die tägliche Höchstarbeitszeit
        von 8 Stunden hinausgeht und innerhalb von 24 Wochen (also ca. 6 Monaten) ausgeglichen werden muss.
        Mehrarbeit bezieht sich in diesem Fall immer auf das Arbeitszeitrecht und hat keinen Bezug zur Vergütung .
    <p></p>
    <h3>Überstunden:</h3>
        Der Begriff „Überstunden“ beschreibt die Arbeitszeit, die über die vertraglich vereinbarte oder
        tarifrechtliche regelmäßige Arbeitszeit hinausgeht und vom Vorgesetzten entweder angeordnet oder
        geduldet wird. Überstunden betreffen damit häufig tarifliche oder betriebliche Regelungen zur Vergütung
        von Arbeitszeit, die über die eigentlich vereinbarte Arbeitszeit hinausgeht.
    <p></p>
        Überstunden müssen also im Grundsatz nur dann geleistet werden, wenn sie zuvor vereinbart wurden.
        Zulässig ist eine Klausel im Arbeitsvertrag, wonach sich die Weisungsbefugnis des Arbeitgebers auch auf
        die Anordnung von Überstunden erstreckt.
    <p></p>
        Auch bei Überstunden müssen die Vorgaben des Arbeitszeitgesetzes zur höchsten zulässigen Arbeitszeit
            und zu den Ruhezeiten zwischen zwei Arbeitstagen eingehalten werden.
    </p>
</div>
</body>
