{% if isCorrect %}
    <h1>Deine Antwort war korrekt!</h1>
{% else %}
    <h1>Deine Antwort war falsch, dies sind die richtigen Antworten</h1>
    <div>
        <p>{% trans %}answer.answered.correct{% endtrans %}</p>
        {% for answer in correctAnswers %}
            <ul>{{ answer.text }}</ul>
        {% endfor %}
    </div>
    <div>
        <p>{% trans %}answer.your{% endtrans %}</p>
        {#      todo: show user answer  #}
        {% for selection in userSelectionList %}
            <ul>{{ selection }}</ul>
        {% endfor %}
    </div>
{% endif %}
{% include 'topic/next-random-question.html.twig' %}