<div class="d-flex justify-content-center align-items-center mt-4">
    <form method="post" action="{{ path('topic_index') }}">
        <button class="btn-lg btn-secondary" type="submit">Nächste Aufgabe</button>
    </form>
</div>
